<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HIT Application</title>
    <link rel="stylesheet" href="../static/new/css/bootstrap.css">
    <link rel="stylesheet" href="../static/new/vendors/quill/quill.bubble.css">
   <link rel="stylesheet" href="../static/new/vendors/quill/quill.snow.css">

    <link rel="stylesheet" href="../static/new/vendors/chartjs/Chart.min.css">
   <link rel="stylesheet" href="../static/new/vendors/simple-datatables/style.css">
    <link rel="stylesheet" href="../static/new/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../static/new/css/app.css">
    <link rel="shortcut icon" href="../static/img/hitlogo.png" type="image/x-icon">
</head>

<body>
   
      <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="card">
            <div class="card-header">
                <center class="heading">
                    <img src="../static/img/hitlogo1.png" alt="Logo" height="100px" width="100px" >
                    <h4> Harare Institute Of Technology Job Application Form for <strong>{{title}}</strong> </h4>
                </center>
            </div>
            <form action="{{url_for('apply')}}" method=POST id="applicationForm" enctype="multipart/form-data">
            <div class="card-body">
               <strong> <h3>PERSONAL INFORMATION</h3></strong>
               <input class="form-control" name="title" value="{{title}}" type="text"  hidden>
               <input class="form-control" name="department" value="{{department}}" type="text"  hidden>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="basicInput">Firstname</label>
                            <input class="form-control" name="firstname" id="firstname" type="text" required placeholder="John">
                        </div>

                        <div class="form-group">
                            <label for="helpInputTop">National Id</label>
                            <input class="form-control" name="nationalid" type="text" id="nationalid" required placeholder="22-345345X234-P">
                        </div>

                        <div class="form-group col-md-4 col-sm-8">
                            <label for="helperText">Marital Status</label>
                            <select  class="form-select" id="basicSelect" name="maritalstatus" >
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Widow">Widow</option>
                                <option value="Other">Other</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disabledInput">Surname</label>
                            <input class="form-control" name="surname" id="surname" type="text" required placeholder="Doe">
                        </div>
                        <div class="form-group col-md-4 col-sm-8">
                            <label for="disabledInput">Date of Birth</label>
                            <input class="form-control" name="DOB" id="dob" type="date" required data-toggle="popover" data-placement="top" data-content="Please Input A Valid Date Of Birth">
                        </div>
                        <div class="form-group col-md-3 col-sm-6">
                            <label for="helperText">Sex</label>
                            <select  class="form-select" id="basicSelect" name="sex" >
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                        </select>
                        </div>

                    </div>
                </div>
                <br>
                <strong> <h3>CONTACT INFORMATION</h3></strong>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group  ">
                            <label for="basicInput">Email</label>
                            <input class="form-control" type="email" name="email" id="email" required placeholder="John@gmail.com" data-toggle="popover" data-placement="top" data-content="Please Input A Valid Email Address">
                        </div>

                        <div class="form-group">
                            <label for="helpInputTop">Address</label>
                            <textarea class="form-control" name="address" rows="3"></textarea>
                        </div>

                      
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="disabledInput">Phone Number</label>
                            <input class="form-control" type="text" name="phone1" id="phone1" required placeholder="0772334661">
                        </div>
                       

                    </div>
                </div>
                <br>

                <strong> <h3>QUALIFICATION</h3></strong>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <div class="details" id="qualification">
                            <div class="field" id="qfield">
                                
                                <label for="qualification">Qualification </label>
                                <input  class="form-control" required name="qualification1" type="text" id="qualification1" placeholder="5 O levels including English and Maths">
                               
                                <label for="awardingInstitute">Awarding Institute </label>
                                <input  class="form-control"required name="awardingInstitute1" id="awardingInstitute1" type="text" placeholder="ZIMSEC">

                                <label for="year">Year </label>
                                <input  class="form-control"required name="year1" id="year1" type="text" placeholder="1992">
                                <br>
                                <input type="text" name="numberOfQualifications" value="1" id="numberOfQualifications" style="display:None">
                            </div>
                            
                            <button class="btn btn-success btn-sm" id="addqualification" onclick="addQualificationField()">Add Another</button>
                            <button class="btn btn-danger btn-sm" id="removequalification" onclick="removeQualificationField()">Remove</button>
                        </div>
                    </div>
                    </div>
                </div>

                
                <strong> <h3>WORK EXPERIENCE</h3></strong>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="details" id="workexperience">
                                <div class="field" id="wfield">
                                    <label for="organisation">Organisation </label>
                                    <input class="form-control" name="organisation1" id="organisation1" type="text"  placeholder="Harare Institute Of Technology" required>
                                    <label for="position">Position </label>
                                    <input class="form-control" name="position1" id="position1" type="text"  placeholder="Receptionist" required>
                                    <label for="timeframe">Period </label>
                                    <input class="form-control" name="timeframe1" id="timeframe1" type="text"  placeholder="2000-2002"required><br>
                                    <input type="text" style="display:None" name="numberOfWorkExperiences" value="1" id="numberOfWorkExperiences">
                                </div>
            
                                <button class="btn btn-success btn-sm" id="add" onclick="addWorkExperienceField()">Add Another</button>
                                <button class="btn btn-danger btn-sm" id="removeWorkExperienceField" onclick="removeWorkExperienceField()">Remove</button>
                            </div>
                    </div>
                    </div>
                </div>

                <h3>CURRICULUM VITAE</h3>
                <div class="details">
                    <label for="cv">( Attach Curriculum Vitae With All Necessary Certificates )</label>
                    <input class="form-control-file" type="file" name="file[]" id="cv" required data-toggle="popover" data-placement="top" data-content="Please Attach A pdf or word document with for CV" accept="application/pdf" multiple>

                </div>
            </div>
            <div class="col-md-12">
            <button class="btn btn-success  col-md-12">Apply Now</button>
        
            </div>
            <br>
        </form>
        </div>
 
    </div>
</div>

    <div class="modal" id="response" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Application Success!!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p>Your Application Was Successful A Conformation Email Will Be Sent To You Shortly </p>
                </div>
                <div class="modal-footer">
                    <a href="{{url_for('home')}}" class="btn btn-primary">OK</a>
                </div>
            </div>
        </div>
    </div> 


</body>

<script src="../static/js/addRemove.js"></script>
<script src="../static/js/validation.js"></script>
<script src="../static/js/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<script>
    let applicationForm = document.getElementById('applicationForm')
    applicationForm.addEventListener('submit', sendApplication)
        // code for modal
    var modal = document.getElementById('messageModal');
    var span = document.getElementsByClassName("close")[0];

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    // ends here

    let dob = document.getElementById('dob')
    let cv = document.getElementById('cv')
    let email = document.getElementById('email')

    function sendApplication(event) {
        event.preventDefault()
        if (validateDOB(dob.value) && validateFile(cv.value) && validateEmail(email.value)) {

            let data = new FormData(applicationForm)

            axios.post("{{url_for('apply')}}", data).then(function(response) {
                if (response.status === 200) {
                    $('response').modal('show')
                }
            })
            applicationForm.reset()
            $('#response').modal('show')


        } else if (validateFile(cv.value) === false && validateDOB(dob.value) && validateEmail(email.value)) {
            $('#cv').addClass('invalid-input')
            $('#cv').popover('show')

        } else if (validateDOB(dob.value) === false && validateFile(cv.value) && validateEmail(email.value)) {
            // display message to user and scroll to top for dob
            $('#dob').popover("show")
            $('#dob').addClass('invalid-input')
            document.body.scrollTop = 0
            document.documentElement.scrollTop = 0

        } else if (validateDOB(dob.value) && validateFile(cv.value) && validateEmail(email.value) === false) {
            $('#email').popover('show')
            $('#email').addClass('invalid-input')
            document.body.scrollTop = 0
            document.documentElement.scrollTop = 0

        } else if (validateDOB(dob.value) === false && validateFile(cv.value) === false && validateEmail(email.value) === false) {

            $('#email').popover('show')
            $('#email').addClass('invalid-input')
            $('#cv').addClass('invalid-input')
            $('#cv').popover('show')
            $('#dob').popover("show")
            $('#dob').addClass('invalid-input')
            document.body.scrollTop = 0
            document.documentElement.scrollTop = 0

        }

        dob.addEventListener('focus', dobreset)
        cv.addEventListener('focus', cvreset)
        email.addEventListener('focus', emailreset)

        function emailreset() {
            email.className = 'form-control'
        }

        function dobreset() {
            dob.className = 'form-control'

        }

        function cvreset() {
            cv.className = 'form-control-file'
        }


    }
</script>

</html>