<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Department: {{depart}}  & Post : {{post}} </title>

    <link rel="stylesheet" href="../static/new/css/bootstrap.css">


    <link rel="stylesheet" href="../static/new/vendors/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../static/new/vendors/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../static/new/vendors/datatables-buttons/css/buttons.bootstrap4.min.css">
   
    <link rel="stylesheet" href="../static/new/vendors/chartjs/Chart.min.css">
    <link rel="stylesheet" href="../static/new/vendors/simple-datatables/style.css">
    <link rel="stylesheet" href="../static/new/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="../static/new/css/app.css">
    <link rel="shortcut icon" href="../static/img/hitlogo.png" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="{{url_for('static', filename='img/hitlogo.png')}}" height="200px" width="180px" >
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">


                        <li class='sidebar-title'>Main Menu</li>



                        <li class="sidebar-item">
                            <a href="/humanResourceHome" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Dashboard</span>
                            </a>

                        </li>
                        <li class="sidebar-item  ">
                            <a href="{{url_for('addVacancy')}}" class='sidebar-link'>
                                <i data-feather="layers" width="20"></i>
                                <span>Add Vacancy</span>
                            </a>

                        </li>
                        <li class="sidebar-item  active  ">
                            <a href="{{url_for('manageposts')}}" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Manage Vacancies</span>
                            </a>

                        </li>
                        <li class="sidebar-item ">
                            <a href="{{url_for('department')}}" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Manage Department</span>
                            </a>

                        </li>




  
                       


                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        
                      
                        <li class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    <img src="assets/images/avatar/avatar-s-1.png" alt="" srcset="">
                                </div>
                                <div class="d-none d-md-block d-lg-inline-block">Hi, Saugi</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                
                                <a class="dropdown-item" href="/logout"><i data-feather="log-out"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="main-content container-fluid">
                <div class="page-title">
                    <h3>Department: {{depart}}  & Post : {{post}}</h3>
                               </div>
                <section class="section">
                   
                    <div class="row mb-4">
                        <div class="col-md-12">
                        
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                
                                    <h4 class="card-title">Applicants</h4>
                                   
                                </div>
                                <div class="card-body px-0 pb-0">
                                    <div class="table-responsive">
                                        <table class='table table-striped' id="example1">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Name</th>
                                                    
                                                    <th >Academic_Qualifications</th>
                                                
                                                    <th>Work_Experience</th>
                                                    <th >Attachments</th>
                                                    <th>Contact Details</th>
                                                    <th>Sex</th>
                                                    <th>Age</th>
                                                    <th>National ID</th>
                                                    <th>Marital Status</th>
                                                </tr>
                                            </thead>
                                             <tbody>
                {% for i, j, k in zip(table, count, cvs) %}
                <tr>
                    <th>{{j}}</th>
                    <td>{{i[1]}}</td>
                  
                    <td >
                        {% for p in i[6] %}
                        {{p}} <br>
                        {%endfor%}
                        
                    </td>
                    
                    
                    <td >
                        {% for r in i[7] %}
                        {{r}} <br>
                        {%endfor%}  </td>

                    <td>
                        {% for q in i[8] %}
                        
                        <a href="../static/uploads/{{q}}" target="_blank">View CV</a>
                         
                        {%endfor%}
                    </td>


                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[10]}}</td>
                </tr>
                {% endfor %}
            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
         
                    </div>
                </section>
            </div>

            <footer>
               
            </footer>
        </div>
    </div>

    <script src="../static/new/vendors/simple-datatables/simple-datatables.js"></script>
    <script src="../static/new/vendors/jquery/jquery.min.js"></script>
    <script src="../static/new/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/new/vendors/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../static/new/vendors/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../static/new/vendors/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../static/new/vendors/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../static/new/vendors/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../static/new/vendors/jszip/jszip.min.js"></script>
    <script src="../static/new/vendors/pdfmake/pdfmake.min.js"></script>
    <script src="../static/new/vendors/pdfmake/vfs_fonts.js"></script>
    <script src="../static/new/vendors/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../static/new/vendors/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../static/new/vendors/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="../static/new/js/feather-icons/feather.min.js"></script>
    <script src="../static/new/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="../static/new/js/app.js"></script>
    
    
    <script src="../static/new/vendors/chartjs/Chart.min.js"></script>
    <script src="../static/new/vendors/apexcharts/apexcharts.min.js"></script>
    <script src="../static/new/js/pages/dashboard.js"></script>

 
    <script src="../static/new/js/vendors.js"></script>
    <script src="../static/new/js/main.js"></script>
    <script>
        $(function () {
          $("#example1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false,
            "buttons": ["excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
          $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
          });
        });
      </script>
</body>

</html>