{% extends "list.html" %}
                        {% block title %} Full Applicant List {% endblock %}
                        <img src="../static/img/hitlogo1.png" alt=""> {% block heading %} <span>   Applicant List  </span>
                        <button class="nav-bar btn" style="color: gold;" onclick="print()" target="_blank"><b>Print List</b></button></a> {% endblock %}
                        {% block content %}
                        <table border="1" class="dataframe table table-striped table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>contact details</th>
      <th>sex</th>
      <th>age</th>
      <th>National_id</th>
      <th>academic qualifications</th>
      <th>work experience</th>
      <th>comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Theophilus Okoye</td>
      <td>0783620957 , 0783620956 , Flat 1 53 Magamba Way</td>
      <td>Male</td>
      <td>20</td>
      <td>70-299026-J-70</td>
      <td>1. 9 O' Levels. 2. 3 A' Levels including Maths.</td>
      <td>1. Worked at HIT as Programmer since 2017 - Present.</td>
      <td>CV &amp; Certificates attached</td>
    </tr>
  </tbody>
</table>{% endblock %}