{% extends "list.html" %}
                        {% block title %} Full Applicant List {% endblock %}
                        {% block heading %} Applicant List {% endblock %}
                        {% block content %}
                        <table border="1" class="dataframe table table-striped table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>contact details</th>
      <th>sex</th>
      <th>age</th>
      <th>National_id</th>
      <th>academic qualifications</th>
      <th>work experience</th>
      <th>comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Chidiebere Okoye</td>
      <td>783620957 , 783620956 , Flat 1 53 Magamba Way Chinhoyi</td>
      <td>Male</td>
      <td>21</td>
      <td>70-299026-J-63</td>
      <td>1. 9 O' Levels. 2. 3 A' Levels including Maths.</td>
      <td>1. Worked at EDGARS as CSA since   2016 - Present.</td>
      <td>CV &amp; Certificates attached</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Blessed Tawanda Mahuni</td>
      <td>26377622411 , 26376734732 , 12 Hughes</td>
      <td>Male</td>
      <td>20</td>
      <td>22-2132323443X-0</td>
      <td>1. 9 O' Levels. 2. 3 A' Levels. 3. Btech Software Engineering.</td>
      <td>1. Worked at HIT as Programmer since 2017 - Present.</td>
      <td>CV &amp; Certificates attached</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Theophilus Okoye</td>
      <td>783620957 , 783620956 , Flat 1 53 Magamba Way Chinhoyi</td>
      <td>Male</td>
      <td>21</td>
      <td>70-299026-J-64</td>
      <td>1. 9 O' Levels. 2. 3 A' Levels including Maths.</td>
      <td>1. Worked at EDGARS as CSA since   2016 - Present.</td>
      <td>CV &amp; Certificates attached</td>
    </tr>
  </tbody>
</table>{% endblock %}